[submodule "third-party/libRocket"]
	path = third-party/libRocket
	url = https://github.com/TeamForbiddenLLC/libRocket
[submodule "third-party/angelscript"]
	path = third-party/angelscript
	url = https://github.com/TeamForbiddenLLC/angelscript.git
[submodule "libsrcs"]
	path = libsrcs
	url = https://github.com/TeamForbiddenLLC/qfusion-libsrcs.git
[submodule "third-party/nanosvg"]
	path = third-party/nanosvg
	url = https://github.com/TeamForbiddenLLC/nanosvg
